<section class="header-section">
  <div class="w-layout-blockcontainer container-large w-container">
    <div class="header">
      <div class="header-volunteer-wrap">
        <div class="header-volunteer-icon-wrap">
          <img
            src="{{ASSET_PREFIX}}66a8c251d60310b7ebc88e6f_volunteer-icon.svg"
            loading="lazy"
            alt="contact icon"
            class="volunteer-icon"
          />
        </div>
        <p class="volunteer-content">
          LET&#x27;S HELP OTHERS :
          <a href="{{PAGE_PREFIX}}volunteers/" class="volunteer-subtext"
            >BECOME A VOLUNTEER</a
          >
        </p>
      </div>
      <div class="header-contact-area">
        <div class="header-contact-wrap">
          <a
            href="mailto:info@haft-ug.com"
            class="header-contact-link w-inline-block"
            ><div class="header-contact-icon-wrap">
              <img
                src="{{ASSET_PREFIX}}66a8c60281a565d5522e48e6_top-bar-contact-1.svg"
                loading="lazy"
                alt="contact icon"
                class="header-icon-initial"
              /><img
                src="{{ASSET_PREFIX}}66a8c6020bced0d6da2a3d56_top-bar-contact-hover-1.svg"
                loading="lazy"
                alt="contact icon"
                class="header-icon-hover"
              />
            </div>
            <div class="header-contact-content">info@haft-ug.com</div></a
          >
        </div>
        <div class="header-line-break"></div>
        <div class="header-contact-wrap">
          <a href="tel:(423)643-5345" class="header-contact-link w-inline-block"
            ><div class="header-contact-icon-wrap">
              <img
                src="{{ASSET_PREFIX}}66a8c60287fc1c9e8918d0e8_top-bar-contact-2.svg"
                loading="lazy"
                alt="contact icon"
                class="header-icon-initial"
              /><img
                src="{{ASSET_PREFIX}}66a8c60275298754e10105c0_top-bar-contact-hover-2.svg"
                loading="lazy"
                alt="contact icon"
                class="header-icon-hover"
              />
            </div>
            <div class="header-contact-content">(+256) 774 852274</div></a
          >
        </div>
        <div class="header-line-break"></div>
        <div class="header-social-area">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="header-social-wrap w-inline-block"
            ><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e637cd6c295bf283a541_top-bar-social-initial-1.svg"
              alt="social icon"
              class="social-initial" /><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e637104633f4506400b3_top-bar-social-hover-1.svg"
              alt="social icon"
              class="social-hover" /></a
          ><a
            href="https://www.instagram.com/"
            target="_blank"
            class="header-social-wrap w-inline-block"
            ><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e6377598599f9795b3e7_top-bar-social-initial-2.svg"
              alt="social icon"
              class="social-initial" /><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e6377598599f9795b3e2_top-bar-social-hover-2.svg"
              alt="social icon"
              class="social-hover" /></a
          ><a
            href="https://www.twitter.com/"
            target="_blank"
            class="header-social-wrap w-inline-block"
            ><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e637f94cd4b5be9e6af2_top-bar-social-initial-3.svg"
              alt="social icon"
              class="social-initial" /><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e637ca6f87228aabff44_top-bar-social-hover-3.svg"
              alt="social icon"
              class="social-hover" /></a
          ><a
            href="https://www.linkedin.com/"
            target="_blank"
            class="header-social-wrap w-inline-block"
            ><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e6378987963545534a42_top-bar-social-initial-4.svg"
              alt="social icon"
              class="social-initial" /><img
              loading="lazy"
              src="{{ASSET_PREFIX}}6734e63760675dcc4031fd82_top-bar-social-hover-4.svg"
              alt="social icon"
              class="social-hover"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease"
    data-easing2="ease"
    role="banner"
    class="nav-bar w-nav"
  >
    <div class="container w-container">
      <div class="header-area">
        <a href="{{HOME_PATH}}" class="brand-link w-nav-brand"
          ><img
            src="{{ASSET_PREFIX}}676d2c543a11a5b8cc0cb10b_brand-logo.svg"
            loading="lazy"
            alt="brand logo"
            class="brand-image"
        /></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-bar-wrap">
            <a href="{{HOME_PATH}}" class="nav-menu-link w-nav-link">Home</a
            ><a
              href="{{PAGE_PREFIX}}about/"
              class="nav-menu-link w-nav-link"
              >About</a
            ><a
              href="{{PAGE_PREFIX}}events/"
              class="nav-menu-link w-nav-link"
              >Events</a
            ><a
              href="{{PAGE_PREFIX}}causes/"
              class="nav-menu-link w-nav-link"
              >Causes</a
            >
            <div
              data-hover="true"
              data-delay="0"
              class="nav-dropdown w-dropdown"
            >
              <div class="nav-menu-link w-dropdown-toggle">
                <div>Haft</div>
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <a
                  href="{{PAGE_PREFIX}}youtube/"
                  class="nav-dropdown-link w-dropdown-link"
                  >YouTube</a
                ><a
                  href="{{PAGE_PREFIX}}fundraise/"
                  class="nav-dropdown-link w-dropdown-link"
                  >Fundraise</a
                ><a
                  href="{{PAGE_PREFIX}}donation/"
                  class="nav-dropdown-link w-dropdown-link"
                  >Donation</a
                ><a
                  href="{{PAGE_PREFIX}}volunteers/"
                  class="nav-dropdown-link w-dropdown-link"
                  >Volunteers</a
                ><a
                  href="{{PAGE_PREFIX}}blog/"
                  class="nav-dropdown-link w-dropdown-link"
                  >Blog</a
                >
              </nav>
            </div>
            <a
              href="{{PAGE_PREFIX}}contact/"
              class="nav-menu-link w-nav-link"
              >Contact</a
            >
          </div>
          <div class="nav-button-wrap">
            <a
              href="{{PAGE_PREFIX}}donation/"
              class="primary-button pd-35 w-button"
              >Donate Now</a
            >
          </div>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</section>
